/*Author: Samuel Silva
  Version: 1.0*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #e7e6e680;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;

}

.card {
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
    width: 400px;

}

.card-lancamento {
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
    width: 600px;

}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #272262;

}

center {
    text-align: center;
    margin-bottom: 20px;
    color: #272262;
    font-size: 12px;
}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #272262;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.label-float1 input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #272262;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label-float1 {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 12px;
}

.label-float1 input:focus {
    border-bottom: 2px solid #4038a0;
}

.label-float1 label {
    color: #272262;
    /*pointer-events: none;*/
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -10px;
    transition: all .3s ease-out;
}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #272262;
}

.label-float input:focus {
    border-bottom: 2px solid #4038a0;
}



.label-float label {
    color: #272262;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}


.label-float input:focus+label,
.label-float input:valid+label {
    font-size: 13px;
    margin-top: 0;
    color: #4038a0
}

button {
    background-color: transparent;
    border-color: #272262;
    color: #272262;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-left: 4;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}

button:hover {
    background-color: #272262;
    color: #fff;
}

.justify-center {
    display: flex;
    justify-content: center;
}

hr {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}

p {
    color: #272262;
    font-size: 14pt;
    text-align: center;
}

a {
    color: #7a3077;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-out;
}

a:hover {
    color: #272262;
}

.fa-eye {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #272262;
}

#msgSuccess {
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

#msgError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

#menu {
    list-style: none;
    padding: 10px;
    background-color: #ffffff80;
    font-size: 18px;

}

#profile {
    display: none;
}

#menu-h li {
    display: inline;
}

#menu-h li a {
    display: inline;
    padding: 10px;
    display: inline-block;
    color: #272262;
    text-decoration: none;
    transition: background ease-out 3.s;
}


#menu-h li a:hover {
    background-color: #0d009c;
    color: #fff;
}

.content {
    margin-top: 15px;
}

table {
    border-collapse: collapse;
    border: 1px solid #272262;
    width: 100%;
    color: #272262;
}

table th {
    background-color: #e6e6e9;
    color: #272262;
}

table th, td {
    padding: 1px 5px;
    text-align: left;
}

table td img {
    width: 19px;
    margin-left: 4px;
}

.div-select select:hover {
    background-color: #272262;
    color: #fff;
    transition: all .4s ease-out;
}

.div-select {
    width: 250px;
    /* Tamanho final do select */
    overflow: hidden;
    /* Esconde o conteúdo que passar do tamanho especificado */
}

.div-select select {
    /* background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-select.gif) no-repeat #354880;*/
    background-color: transparent;
    /* Imagem de fundo (Seta) */
    background-position: 205px center;
    /*Posição da imagem do background*/
    width: 270px;
    /* Tamanho do select, maior que o tamanho da div "div-select" */
    height: 48px;
    /* altura do select, importante para que tenha a mesma altura em todo os navegadores */
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Roboto', sans-serif;
    /* Fonte do Select */
    font-size: 18px;
    /* Tamanho da Fonte */
    padding: 13px 20px 13px 12px;
    /* Configurações de padding para posicionar o texto no campo */
    color: #272262;
    /* Cor da Fonte */
    text-indent: 0.01px;
    /* Remove seta padrão do FireFox */
    text-overflow: "";
    border-bottom: 2px solid #272262;
    border-top: 0;
    border-left: 0;
    outline: none;
    /*border: 0;*/

}

/* Remove seta padrão do FireFox */
.div-select select::-ms-expand {
    display: none;
}